<nav class="nav_main">
	<h2 class="h2 hide">Навигация главная</h2>
	
	<ul>
		<li>
			<%= link_to 'index', index_index_path %>
		</li>
		
		<li>
			<%= link_to 'Contacts', contacts_index_path %>
		</li>

		<li>
			<%= link_to 'services', services_index_path %>
		</li>

		<li>
			<%= link_to 'Documents', documents_path %>
		</li>	

		<li>
			<%= link_to 'News', news_index_path %>
		</li>									
	</ul>
	
	<a class="mail_link" href="/adminka">
		<%= image_tag "images/icon_mail.png", class: "mail_pic", size: "34x26", alt: "Test mail" %>
	</a>
</nav>	