<nav class="nav_top">
	<h2 class="h2 hide">Навигация верхняя</h2>

	<div class="auth_area">
		<div class="auth_area_inner">
			<% if signed_in? %>
        <%= link_to 'users list', users_path %>
				<%=	link_to	"Settings", edit_user_path(current_user) %>
				<%=	link_to	"Profile", current_user %>
				<%=	link_to	"Sign out", signout_path, method: "delete" %>
			<% else %>
				<%=	link_to	"Sign in", signin_path %>
			<% end %>
		</div>
	</div>

	<ul id="menu">  
	    <li>
	    	<%= link_to 'to admin', admin_documents_path %>
	    </li>  

	    <li>
	    	<%= link_to 'to public', documents_path %>
	    </li>  	    
	</ul>

	<strong> 
		<% if current_user %>
			<%= current_user.name %>
		<% else %>
			no current user no
		<% end %>
	</strong>
</nav>