<nav class="nav_main">
	<h2 class="h2 hide">Навигация главная</h2>
	
	<ul>
		<li>
			<%= link_to 'index', controller: "index", action: "index" %>
		</li>
		
		<li>
			<%= link_to 'Contacts', controller: "contacts", action: "index" %>
		</li>

		<li>
			<%= link_to 'services', controller: "services", action: "index" %>
		</li>

		<li>
			<%= link_to 'Documents', controller: "documents", action: "index" %>
		</li>	

		<li>
			<%= link_to 'News', controller: "news", action: "index" %>
		</li>									
	</ul>
	
	<a class="mail_link" href="/adminka">
		<%= image_tag "images/icon_mail.png", class: "mail_pic", size: "34x26", alt: "Test mail" %>
	</a>
</nav>	