<p id="notice"><%= notice %></p>
-
<div>
<h2><%= @news.title %></h2>
<div><%= image_tag(@news.image_url, height: '200', width: '200', alt: 'img', class: 'image_large') %></div>
<div><%= @news.body %></div>
</div>

<%= link_to 'Back', news_index_path %>

